<div class="modal-header">
  <h4 class="modal-title">Detalii Tranzactie Transport</h4>
  <p>
    {{ transport.orasIncarcare }} <i class="fas fa-angle-double-right"></i>
    {{ transport.orasDescarcare }}
    {{ transport.pret }}<i class="fas fa-euro-sign"></i>
  </p>
</div>
<div class="modal-body">
  <p>Transportator: {{ companie.nume }}</p>
  <p>Adresa: {{ companie.adresa }}</p>
  <p>C.U.I.: {{ companie.cui }}</p>
  <p>Tip abonamet: {{ companie.rol.toUpperCase() }}</p>
  <P>Mail: {{ companie.mail }}</P>
</div>
<div class="modal-footer">
  <app-button
    color="#be9b7b"
    text="Accepta"
    (btnClick)="acceptaTransportator()"
  >
  </app-button>

  <app-button
    color="#be9b7b"
    text="Respinge"
    (btnClick)="respingeTransportator()"
  >
  </app-button>
</div>
