<div id="home">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 text-center">
                <h3>Time Tracker</h3>
                <p>Our time tracking app will save you time and money</p>
                <a [routerLink]="['register']"
                   routerLinkActive="router-link-active"
                   class="btn btn-info">Inscriere Companie<i class="fas fa-user-plus"></i></a>
            </div>

            <div class="col-sm-6">

            </div>
        </div>
    </div>
</div>