<div class="row">
  <div class="col-md-4">
    <ng-container *ngIf="transportator; else loader1">
      <div class="modal-body">
        <p>Expeditor: {{ transportator.nume }}</p>
        <p>Adresa: {{ transportator.adresa }}</p>
        <p>C.U.I.: {{ transportator.cui }}</p>
        <p>Tip abonamet: {{ transportator.rol.toUpperCase() }}</p>
        <P>Mail: {{ transportator.mail }}</P>
      </div>
    </ng-container>

    <ng-template #loader1>Loading...</ng-template>
  </div>
  <div class="col-md-8">
    <ng-container *ngIf="transportItem; else loader">
      <app-transport
        [transportItem]="transportItem"
        [tranzactie]="true"
        (onStergere)="stergeTranzactieTransport($event)"
      ></app-transport>
    </ng-container>

    <ng-template #loader>Loading...</ng-template>
  </div>
</div>
