footer{
    width: 100%;
    background-color: #23415C;
    padding: 5% 5% 10% 5%;
    color: #FFF;
}

.fab{
    padding: 15px;
    font-size: 25px;
    color: #FFF;
}

.fab:hover{
    color: #D5D5D5;
    text-decoration: none;
}

.fas {
    font-size: 80px;
}
.fas:hover {
    color: #D5D5D5;
    text-decoration: none;
}