footer{
    background-color: #23415C;
    padding: 1% 5% 1% 5%;
    color: #FFF;
    height: 150px;
}

.fab{
    padding: 15px;
    font-size: 25px;
    color: #FFF;
}

.fab:hover{
    color: #D5D5D5;
    text-decoration: none;
}

.fas {
    font-size: 80px;
}
.fas:hover {
    color: #D5D5D5;
    text-decoration: none;
}
