<div id="back">
  <div class="container-fluid text-center">
    <div class="row">
      <div class="col-sm-2 sidenav">
        <a
          *ngIf="authService.getRol() !== 'expeditii'"
          [routerLink]="['bursaTransporturi']"
          routerLinkActive="router-link-active"
          class="btn btn-lg btn-outline-info"
          >Cauta Curse<i class="fas fa-truck-loading"></i
        ></a>
      </div>
      <div class="col-sm-8 text-left">
        <h2>{{ authService.decodedToken?.user.nume }}</h2>
        <h4>
          Adresa: {{ authService.decodedToken?.user.adresa }} C.U.I.
          {{ authService.decodedToken?.user.cui }}
        </h4>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 sidenav">
        <a
          *ngIf="authService.getRol() !== 'transportator'"
          [routerLink]="['adaugaTransport']"
          routerLinkActive="router-link-active"
          class="btn btn-lg btn-outline-info"
          >Adauga Curse<i class="fas fa-truck-loading"></i
        ></a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 sidenav">
        <a
          *ngIf="authService.getRol() !== 'transportator'"
          [routerLink]="['veziTransporturi']"
          routerLinkActive="router-link-active"
          class="btn btn-lg btn-outline-info"
          >Vezi transporturile tale<i class="fas fa-truck-loading"></i
        ></a>
      </div>
    </div>
  </div>
</div>
